.container1 {
    float: left;
    margin:40px;
}

.container2 {
    float: right;
    margin:40px;
}

input{
    width: 40px;
    height: 30px;
}

div{
    margin: 10px;
}

.container3{
    text-align: center;
    margin-top: 10px;
}

button{
    margin: auto 0;
}

.container4{
    display: inline-block;
}

#output1 {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 24px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: #fff;
    border: 1px solid #BEBEBE;
    height: 48px;
    max-height: 148px;
    text-align: center;
}

#output2 {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 24px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: #fff;
    border: 1px solid #BEBEBE;
    height: 48px;
    max-height: 148px;
    text-align: center;
}

#position{
    font-size:16px;
    text-align: center;
}